.example-container {
    position: relative;
  }
  
  .example-table-container {
    position: relative;
    min-height: 200px;
    max-height: 400px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
  
  .example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .example-rate-limit-reached {
    max-width: 360px;
    text-align: center;
  }
  
  /* Column Widths */
  .mat-column-number,
  .mat-column-state {
    max-width: 64px;
  }
  
  .mat-column-created {
    max-width: 124px;
  }
  
  
  th.mat-sort-header-sorted {
      color: black;
    }
  
  .formBg {
    padding: 20px;
    border-radius: 50px;
    background: rgba(94, 124, 173, 0.5);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(43,91,162,0.25);
  }
  
  .formDesc {
    resize: none;
  }
  .make-gold {
    background: rgba(223,198,198,0.5);
    -webkit-backdrop-filter: blur(9px);
    backdrop-filter: blur(9px);
    border: 1px solid rgba(223,198,198,0.25);
  }
  .btn{
    background: rgba(58, 58, 83, 0.5);
    border-radius: 50px;
  }
  .btn1{
    background: rgba(94, 124, 173, 0.5);
    box-shadow: 5px 5px 8px 2px #be5c5c;
  }
  .page{
    background: rgba(21, 21, 50, 0.5);
    -webkit-backdrop-filter: blur(9px);
    backdrop-filter: blur(9px);
    border: 1px solid rgba(171,170,214,0.25);
  }
  
  .paginator{
    
    
    margin-bottom: 10px;
    text-decoration: underline;
    
    margin-left: 45%;
    /* box-shadow: inset 0px 0px 6px rgba(0,0,0); */
  }
  
  .filter{
    font-style:bold;
    font-size: large;
    
    text-decoration: underline;
    
  }
  
  
  