<header>
    <div class="navbar navbar-dark shadow-sm bg-custom-2">
        <div class="navbar-brand align-item-center d-flex">
            <div>
               
                <strong>Create Your Ticket  Here !..</strong>
            </div>

        </div>
        
        <div *ngIf="this.AuthService.isloggedin === false; else issignedin"  >
            <button routerLink="signin" class="btn btn-signIn">Sign In</button>
            <button routerLink="signup" class="btn btn-signUp" style="margin: 0 10px;">Sign Up</button>
        </div>
        

        <ng-template #issignedin>
            <div class="align-item-center d-flex">
                <span> Welcome {{AuthService.user.email}}</span>
               
              <button type="button" routerLink="ticket" class="btn btn-signIn" data-toggle="modal" data-target="#exampleModal">
                Create Ticket
              </button>
              <button class="btn btn-signIn" (click)="onLogoutClick()">Sign Out</button>
            </div>
        </ng-template>

        
    </div>
</header>

<!-- <router-outlet></router-outlet> -->